/* thumb  */
.thumb {
  width: var(--imageWidth);
  position: absolute;
  filter: grayscale(1);
  top: 0px;
}

.thumb img {
  width: 100%;
  border-radius: 0.2rem;
  display: block;
}

/* Modal */
.ContentItem.open .modal {
  top: 0;
  width: var(--imageWidth);
  display: flex;
  justify-content: center;
  box-shadow: none;
  position: fixed;
  left: 50% !important;
  z-index: 500;
  transform: translateX(-50%);
  width: 100%;
  overflow-y: scroll;
  max-height: 8000px;
  height: 100vh;
  opacity: 1;
  transition: opacity 1s;
}

.ContentItem.open .modal .modal-bg {
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: 'rgb(0 0 0)';
}

.ContentItem.open .modal .inner-wrapper {
  font-size: 41%;
  padding-bottom: 10px;
}

.ContentItem.open .modal img {
  width: 100%;
  border-radius: 0.2rem;
  display: block;
  transition: border-radius 0.25s;
  display: block;
}

.ContentItem.open .modal img {
  border-radius: 0.2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-radius 0.25s;
  transition-delay: 0s;
  position: relative;
}

.ContentItem.open .modal .header {
  position: relative;
}
.ContentItem.open .modal .header .gradient {
  position: absolute;
  bottom: -1px;
  height: 90px;
  width: 100%;
  background: rgb(24, 24, 24);
  background: linear-gradient(
    0deg,
    rgba(24, 24, 24, 1) 1%,
    rgba(24, 24, 24, 0.8646052170868348) 21%,
    rgba(24, 24, 24, 0) 100%
  );
  z-index: 0;
}

.ContentItem.open .modal .closeBtn {
  font-size: 14px;
  color: #e9e9e9;
  background: #101010;
  border-radius: 50%;
  padding: 0.05em;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  opacity: 0;
}

/* Modal Card */

.ContentItem.open .modal .card {
  display: block;
  display: flex;
  max-height: max-content;
  width: 100%;
  background-color: #181818;
  color: white;
  overflow-y: hidden;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.ContentItem .modal .card .left {
  width: 65%;
  margin: 2% 5%;
}

.ContentItem .modal .header .engagements {
  margin: 0 5%;
  display: flex;
  position: absolute;
  top: 78%;
  opacity: 0;
  z-index: 2;
}

.ContentItem .modal .header .engagements button {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  color: white;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentItem
  .modal
  .header
  .engagements
  button:not(.engagements button:last-child) {
  margin-right: 1%;
}

.ContentItem .modal .header .engagements .gap {
  flex-grow: 1;
}

.ContentItem .modal .engagements button:first-child {
  background: rgb(255, 255, 255);
  width: 3.45em;
  height: 1.2em;
  border-radius: 0.1em;
  align-self: center;
}

.ContentItem .modal .header .engagements button:first-child span {
  font-size: 6.5px;
  font-weight: 600;
  color: black;
}

.ContentItem .modal .header .engagements button:first-child:hover {
  background-color: rgba(246, 246, 246, 0.904);
}

.ContentItem .modal .header .engagements button .circle {
  position: absolute;
}

.ContentItem .modal .header .engagements button svg circle {
  stroke: rgba(255, 255, 255, 0.5);
  fill: rgba(0, 0, 0, 0.303);
}

.ContentItem .modal .header .engagements button:hover svg circle {
  stroke: rgb(255, 255, 255);
  fill: rgba(43, 43, 43, 0.515);
}

.ContentItem .modal .header .engagements button:first-child svg circle {
  stroke: white;
  fill: rgb(255, 255, 255);
}

.ContentItem .modal .card .engagements button:hover svg circle {
  position: absolute;
  stroke: #eeeeee;
}

.ContentItem .modal .card .engagements button:last-child:active svg circle {
  fill: #b9b9b9;
}

.modal .header .engagements button:not(button:first-child) .icon {
  position: absolute;
  height: auto;
  width: 45%;
}

.ContentItem .modal .header .engagements button:nth-child(2) .icon {
  height: auto;
  width: 57%;
}

.ContentItem .modal .header .engagements button:first-child .icon {
  fill: black;
  width: 15px;
  height: auto;
  margin-left: -4px;
}

.ContentItem .modal .card .details {
  margin: 2% 5%;
  display: flex;
  align-items: center;
}

.ContentItem .modal .card .details .gap {
  flex-grow: 1;
}

.ContentItem.open .modal .card .details span {
  margin-right: 1.4%;
  font-size: 6px;
}

.ContentItem .modal .card .details span:first-child {
  color: rgb(0, 184, 0);
  font-weight: 700;
}

.ContentItem .modal .card .details svg {
  width: 6%;
  height: auto;
  margin-right: 1.4%;
}

/* Tags/Genres  */
.ContentItem .modal .card .tags {
  font-weight: 400;
  margin: 2% 5% 2% 0;
}

.ContentItem .card .tags .genres {
  color: white;
  font-weight: 400;
}

.ContentItem .card .tags .genres span.name {
  font-size: 10px;
}

.ContentItem.open .card .tags .genres span {
  font-size: 5px;
}

.ContentItem.open .card .tags .genres span.title {
  font-size: 5px;
  color: rgb(131, 131, 131);
}

.ContentItem .modal .card .tags p.genres span.bullet {
  color: grey;
  font-weight: 900;
}

/* Description */

.ContentItem.open .modal .card .details {
  margin-left: 0;
}

.ContentItem .modal .card .description {
  line-height: 10px;
  font-size: 6.5px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #e3e3e3;
}
