/* Utility */

.App {
  --ItemWidth: 15.3333333333%;
  --ItemHeight: 8.385vw;
  --imageWidth: 96.875%;
  height: 100vh;
  background: rgb(20, 20, 20);
  overflow-x: hidden;
  box-sizing: border-box;
}

.ContentScroller {
  position: relative;
  top: 150px;
  height: var(--ItemHeight);
  width: 100.444444%;
  left: calc(-0.444444% / 2);
}

.ContentItem {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  width: var(--ItemWidth);
  transition: left 1s, top 0.25s;
}

.ContentItem .container {
  position: absolute;
  top: 0;
  width: var(--imageWidth);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.25s ease 0s, z-index 0.5s step-end,
    transform-origin 0.5s step-end;
  cursor: pointer;
}

.ContentItem.active .container {
  background-color: rgb(36, 36, 36);
  transform: scale(1.5) translateY(-10%);
  z-index: 400;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  cursor: default;
  transition: transform 0.25s ease 0s, z-index 0s 0s, box-shadow 0.25s 0s,
    background-color 0.25s 0s;
}

.ContentItem:nth-child(1).active .container,
.ContentItem:nth-child(8).active .container {
  transform-origin: left 50%;
}
.ContentItem:nth-child(6).active .container,
.ContentItem:nth-child(13).active .container {
  transform-origin: right 50%;
}

.ContentItem .container img {
  width: 100%;
  border-radius: 0.2rem;
  transition: border-radius 0.25s;
  display: block;
}

.ContentItem.active .container img {
  border-radius: 0.2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-radius 0.25s;
  transition-delay: 0s;
}

/* Item Card Appears Animation */

.ContentItem .container .card {
  width: 100%;
  max-height: 0;
  background-color: #181818;
  color: white;
  overflow-y: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s step-end;
}

.ContentItem.active .container .card {
  max-height: 500px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  opacity: 1;
  transition: opacity 0.1s, transform 0.25s;
  transition-delay: 0s;
}

/* Item Card Engagements */

.ContentItem .container .card .engagements {
  margin: 5%;
  display: flex;
}

.ContentItem .container .card .engagements button {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  color: white;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentScroller
  .ContentItem
  .container
  .card
  .engagements
  button:not(.engagements button:last-child) {
  margin-right: 2%;
}

.ContentItem .container .card .engagements .gap {
  flex-grow: 1;
}

.ContentItem .container .card .engagements button .circle {
  position: absolute;
}

.ContentScroller
  .ContentItem
  .container
  .card
  .engagements
  button:hover
  svg
  circle {
  position: absolute;
  stroke: #eeeeee;
}

.ContentScroller
  .ContentItem
  .container
  .card
  .engagements
  button:last-child:active
  svg
  circle {
  fill: #b9b9b9;
}

.ContentItem .container .card .engagements button .icon {
  position: absolute;
  height: auto;
  width: 45%;
}

.ContentScroller
  .ContentItem
  .container
  .card
  .engagements
  button:nth-child(2)
  .icon {
  height: auto;
  width: 55%;
}
.ContentScroller
  .ContentItem
  .container
  .card
  .engagements
  button:first-child
  .icon {
  fill: black;
  left: 17.5%;
  height: 70%;
  width: 70%;
}

.ContentItem .container .card .details {
  margin: 0 5% 5%;
  display: flex;
  align-items: center;
  font-size: 11px;
}

.ContentItem .container .card .details .gap {
  flex-grow: 1;
}

.ContentItem .container .card .details p.rating {
  color: rgb(0, 184, 0);
  font-weight: 700;
  margin-right: 4%;
}

.ContentItem .container .card .details svg {
  width: 8.4%;
  height: auto;
  margin-right: 4%;
}

/* Tags  */
.ContentItem .container .card .tags {
  font-size: 11px;
  font-weight: 400;
  margin: 0 5% 5%;
}

.ContentItem .card .tags p.genres {
  color: white;
  font-weight: 400;
  margin-bottom: 12px;
}

.ContentItem .container .card .tags p.genres span.bullet {
  color: grey;
  font-weight: 900;
}

/* Left & right buttons for moving the content. */
.ContentScroller > button {
  position: absolute;
  top: 50%;
  width: 3.8vw;
  height: calc(var(--ItemHeight) + 1px);
  background: #0000006e;
  transform: translate(0, -50%);
  border: none;
  color: white;
  cursor: pointer;
}

.ContentScroller > button.view-previous {
  left: 0;
  border-top-right-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
}

.ContentScroller > button.view-next {
  right: 0;
  border-top-left-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
}

.ContentScroller > button:hover {
  background: #0000009f;
}

.ContentScroller > button.view-previous,
.ContentScroller > button svg {
  fill: white;
  visibility: hidden;
  opacity: 0;
}

.ContentScroller > button.view-previous.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s;
}

.ContentScroller:hover > button.view-previous.visible svg,
.ContentScroller:hover > button.view-next svg {
  visibility: visible;
  opacity: 1;
  width: 38%;
  height: auto;
  transition: opacity 0.4s, width 0.15s, height 0.15s;
}

.ContentScroller:hover > button.view-previous.visible:hover svg,
.ContentScroller:hover > button:hover svg {
  width: 48%;
  height: auto;
  transition: width 0.15s, height 0.15s;
}

.ContentScroller > .ContentItem ~ button svg {
  visibility: visible;
}
.ContentScroller > .ContentItem.active:hover ~ button svg,
.ContentScroller > .ContentItem.open:hover ~ button svg {
  visibility: hidden;
  transition: visibility 0s ease 0s;
}
